{% extends 'base.html.twig' %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    var chart;
    function updateChart(type, min, countries) {
        var type = $("input[name='indicator-type']:checked").val();
        var min = $("#min").val();
        var countries = $('#countries option:selected');
        var countryCodes = [];
        for (var i = 0; i < countries.length; i++) {
            countryCodes.push(countries[i].value);
        }
        if (typeof type === 'undefined') {
            type = "case";
        }
        if (typeof min === 'undefined') {
            min = 100;
        }
        if (typeof countryCodes === 'undefined') {
            countryCodes = [];
        }

        if (type == "case") {
            url = "{{path('evolution-cases')}}";
        } else if (type == "death") {
            url = "{{path('evolution-deaths')}}";
        }

        url += "?min="+min+"&countries="+(encodeURIComponent(JSON.stringify(countryCodes)));

        $.getJSON( url, function( jsonData ) {
            $("#countries option:selected").prop("selected", false);
            $("#countries").trigger("chosen:updated");
            for (var i = 0; i < jsonData.countries.length; i++) {
                $('#countries option[value="'+jsonData.countries[i]+'"]').prop("selected", true);
            }
            $("#countries").trigger("chosen:updated");

            $("#span-update").text(jsonData.last_update);
            $("#span-min").text(min);
            $(".span-type").text(type);

            var data = [];
            for (const [key, value] of Object.entries(jsonData.data)) {
                data.push({label: key.replace(/_/g, ' '), data: value, fill: false});
            }

            var ctx = document.getElementById('chart').getContext('2d');
            if (typeof chart !== 'undefined') {
                chart.destroy();
            }
            chart = new Chart(ctx, {
                type: 'line',
                label: "testeuh",
                data: {
                    labels: Array.from(Array(jsonData.nbDays).keys()),
                    datasets: data,
                },
                options: {
                    tooltips: {
                        callbacks: {
                            title: function(tooltipItem, data) {
                                return '+' + data.labels[tooltipItem[0].index]  + ' days';
                            },
                            label: function(tooltipItem, data) {
                                var label = data.datasets[tooltipItem.datasetIndex].label;
                                return label + ': ' + tooltipItem.value + ' ' + type + 's';
                            },
                            footer: function(tooltipItem, data) {
                                if (typeof data.datasets[tooltipItem[0].datasetIndex].data[tooltipItem[0].index - 1] !== 'undefined') {
                                    var diff = data.datasets[tooltipItem[0].datasetIndex].data[tooltipItem[0].index] - data.datasets[tooltipItem[0].datasetIndex].data[tooltipItem[0].index - 1];
                                    if (diff) {
                                        return  diff + ' new ' + type + 's';
                                    }
                                }
                            }
                        }
                    },
                    legend: {
                        position: 'right',
                    },
                    plugins: {
                        colorschemes: {
                            scheme: 'tableau.Classic20'
                        }
                    }
                }
            });
        });
    }
    $.getJSON( "{{path('countries')}}", function( jsonData ) {
        for (var i = 0; i < jsonData.length; i++){
            $('#countries').append(new Option(jsonData[i].name.replace(/_/g, ' '), jsonData[i].code));
        }
        $("#countries").chosen({max_selected_options: {{maxCountries}}});
        updateChart();
    });
    updateForm();
    $("input[name='indicator-type']").on("change", function() {
        updateForm();
    });

    function updateForm() {
        var indicatorType = $("input[name='indicator-type']:checked").val();
        $("#min-label-type").text(indicatorType);
        if (indicatorType == "case") {
            $("#min").val("100");
        } else {
            $("#min").val("10");
        }
    }

    function clearCountries() {
        $("#countries option:selected").prop("selected", false);
        $("#countries").trigger("chosen:updated");
    }
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <h1><strong>Covid-19 Charts</strong></h1>
        <form>
            <div class="row">
                <div class="six columns">
                    <label for="type">Show</label>
                    <div class="row">
                        <div class="six columns">
                            <input type="radio" name="indicator-type" value="case" checked=checked> Cases</input>
                        </div>
                        <div class="six columns">
                            <input type="radio" name="indicator-type" value="death"> Deaths</input>
                        </div>
                    </div>
                    <div class="row">
                        <label id="label-min" for="min">Starting at <span id="min-label-type">case</span> :
                            <input id="min" type="number" value="100">
                        </label>
                    </div>
                    <div class="row">
                        <input class="button-primary" type="submit" value="Submit" onclick="updateChart();return false;">
                    </div>
                </div>
                <div class="six columns">
                    <label for="countries">Countries</label>
                    <select class="u-full-width" id="countries" multiple=true></select>
                    <button id="clear" onclick="clearCountries();return false;">Clear</input>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <h3><strong>Country by country : How coronavirus <span class="span-type">case</span>s trajectories compare</strong><h3>
        <canvas id="chart"></canvas>
        <h6 class="u-pull-right"><em>Starting at <span id="span-min">100</span> <span class="span-type">case</span>s | Last update : <strong><span id="span-update"></span></strong></em><h6>
    </div>
{% endblock %}
